*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(8, 21, 97);
    font-family: cursive;
}
.title{
    text-align: center;
    font-size: 40px;
    background-color: rgb(8, 21, 97);
    color: rgb(255, 255, 255);
}
.game2{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 300px;
}
.gameside{
    width: 50%;
    
}
.scoreside{
    width: 50%;
}
.move{
    text-align: center;
    font-size: 20px;
}
.scissor, .paper, .rock{
    padding: 10px 30px;
    border-radius: 3px;
    background-color: rgb(8, 21, 97);
    color: rgb(160, 238, 255);
    border: none;
    box-shadow: 3px 3px;
    margin-left: 40%;
    margin-top: 20px;
}
.restart{
    display: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(8, 21, 97);
    color: rgb(160, 238, 255);
    border: none;
    box-shadow: 3px 3px;
}
body{
    border: 5px solid black;
    background: rgb(160, 238, 255);

}
.restart:active{
    box-shadow: none;
    margin: 3px 3px;
}
.rock:active, .paper:active, .scissor:active{
    box-shadow: none;
    margin-left: 41%;
    margin-top: 23px;

}
.gif{
    width: 300px;
}